# Environnement virtuel
venv/
__pycache__/
*.pyc

# Données générées / gros fichiers
*.csv
*.json
data/
BO*/dataset_*.csv
Tunisia_Satellite_scraper/tunisia_satellite_data/

# Profil Chrome (très important !)
marketplace/chrome_profile_fb/

# Autres
.DS_Store
*.log

# Données temporaires et générées (à ignorer)
BO2CORRECTED/data/
BO3CORRECTED/data/
BO4/data/
BO5/data/
*.csv
*.db
*.xlsx
*.json